@import url('https://fonts.googleapis.com/css2?family=Noticia+Text&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color:  rgb(255, 229, 188);
}

header {
    background-color:rgb(169, 231, 169); 
    display: flex;
    height: 4rem;
    position: relative;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    border-bottom: .1rem solid black;
}

.usuario {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    padding: .4rem;
    height: 3.5rem;
    width: 3.5rem;
}

.subtitulo{
    padding: 2rem;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-family: 'Noticia Text', serif;
}


main {
    display: flex;
    flex-grow: 1;
    padding-bottom: 4rem;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

h1 {
    font-size: 2rem;
    font-family: 'Mitr', sans-serif;
}

footer {
    height: 4rem;
    width: 100%;
    background-color:rgb(169, 231, 169); 
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: .1rem solid black;
}

ul{
    font-size: 1.8rem;
    padding: 1.6rem 0 1.4rem 1.6rem;

}
.rodape {
    width: 3rem;
    height: 3rem;
}

.grafico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 8rem;
    padding: 4rem;
}
.listalinha{
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 0.1rem solid black;
    padding: 1rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    font-family: 'Noticia Text', serif;
    font-size: 1.4rem;
}

.voltar {
    display: flex;
    position: absolute;
    left: 5%;
    top: 3%;
    height: 3rem;
    width: 3rem;
}